@import url('fonts.css');

/* Overrides font-family: Helvetica; set in foundation.css.
   Helvetica just isn't my type...
   ...heh. */
body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato';
}

.top-bar {
	background-color: rgb(148, 18, 18);
}

#members_box {
	height: 80px;
}
#members_box .member {
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

#chat_box {
	height: 440px;
	font-size: 0.8em;
	font-family: 'Lato', sans-serif;
	overflow: scroll;
	background-color: #fafafa;
}

.crossword-column {
	/*width: 550px;*/
}

#crossword_canvas {
	margin: 0 auto;
	width: 542px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#chat_box p {
	margin: 0px;
}

.game-area {
	margin: -22px 0px 0px 0px;
	max-width: 1200px;
}

.clue-area {
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

.clue-list {
	margin: 7px 0 5px;
	height: 200px;
	overflow: auto;
	padding: 3px 0px;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}

.current-clue-number {
	font-weight: 900;
	display: inline-block;
	width: 4em;
	padding-right: 1em;
}


.clue-list li {
	font-size: 0.8em;
	list-style-type: none;
}

.clue-list li .num {
	width: 25px;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	padding-right: 10px;
	vertical-align: top;
}

.clue-list li .clue-text {
	display: inline-block;
	white-space: pre-wrap;
	width: 200px;
}

#room_options {
	margin-top: 20px;
}

.active {
	background-color: #a0cdff;
}

.semi-active {
	background-color: #dddddd;
}


#timer {
	text-align: right;
}
.deciseconds {
	color: #aaa;
}
