@font-face {
	src: url('/static/fonts/SourceSansPro-Regular.ttf');
	font-family: 'Source Sans';
}

@font-face {
	src: url('/static/fonts/SourceSansPro-Italic.ttf');
	font-family: 'Source Sans';
	font-style: italic;
}

@font-face {
	src: url('/static/fonts/SourceSansPro-Bold.ttf');
	font-family: 'Source Sans';
	font-weight: bold;
}

@font-face {
	src: url('/static/fonts/SourceSansPro-BoldItalic.ttf');
	font-family: 'Source Sans';
	font-weight: bold;
	font-style: italic;
}

#chat_box {
	height: 590px;
	font-size: 0.8em;
	font-family: 'Source Sans', sans-serif;
	overflow: scroll;
	background-color: #EEE;
}

.crossword-column {
	/*width: 550px;*/
}

#crossword_canvas {
	margin: 0 auto;
	width: 542px;
}

#chat_box p {
	margin: 0px;
}

.game-area {
	margin: -15px 0px 0px 0px;
	max-width: 1200px;
}

.clue-area {
	font-family: 'Source Sans', 'Helvetica Neue', sans-serif;
}

.clue-list {
	margin-left: 0;
	height: 200px;
}


.clue-list li {
	font-size: 0.8em;
	list-style-type: none;
}

.clue-list li .num {
	width: 25px;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	padding-right: 10px;
	vertical-align: top;
}

.clue-list li .clue-text {
	display: inline-block;
	white-space: pre-wrap;
	width: 200px;
}