@font-face {
  src: url("/static/fonts/SourceSansPro-ExtraLight.ttf");
  font-family: "Source Sans";
  font-weight: 200; }

@font-face {
  src: url("/static/fonts/SourceSansPro-ExtraLightItalic.ttf");
  font-family: "Source Sans";
  font-weight: 200;
  font-style: italic; }

@font-face {
  src: url("/static/fonts/SourceSansPro-Light.ttf");
  font-family: "Source Sans";
  font-weight: 300; }

@font-face {
  src: url("/static/fonts/SourceSansPro-LightItalic.ttf");
  font-family: "Source Sans";
  font-weight: 300;
  font-style: italic; }

@font-face {
  src: url("/static/fonts/SourceSansPro-Regular.ttf");
  font-family: "Source Sans";
  font-weight: 400; }

@font-face {
  src: url("/static/fonts/SourceSansPro-Italic.ttf");
  font-family: "Source Sans";
  font-weight: 400;
  font-style: italic; }

@font-face {
  src: url("/static/fonts/SourceSansPro-Semibold.ttf");
  font-family: "Source Sans";
  font-weight: 600; }

@font-face {
  src: url("/static/fonts/SourceSansPro-SemiboldItalic.ttf");
  font-family: "Source Sans";
  font-weight: 600;
  font-style: italic; }

@font-face {
  src: url("/static/fonts/SourceSansPro-Bold.ttf");
  font-family: "Source Sans";
  font-weight: 700; }

@font-face {
  src: url("/static/fonts/SourceSansPro-BoldItalic.ttf");
  font-family: "Source Sans";
  font-weight: 700;
  font-style: italic; }

@font-face {
  src: url("/static/fonts/SourceSansPro-Black.ttf");
  font-family: "Source Sans";
  font-weight: 900; }

@font-face {
  src: url("/static/fonts/SourceSansPro-BlackItalic.ttf");
  font-family: "Source Sans";
  font-weight: 900;
  font-style: italic; }
