@import "_colors"
@import "fonts.css"

body, h1, h2, h3, h4, h5, h6
  font-family: "Source Sans", sans-serif

.game-area
  margin-top: -20px
  max-width: 1240px

.clue-list
  font-size: 13px
  height: 250px
  overflow-y: scroll

  margin-left: 0
  padding-left: 0.5em
  position: relative
  list-style: none

  li
    padding: 0 5px

    &:hover
      background-color: #F0F0F0

  .active
    background-color: $highlight-parallel
  .inactive
    background-color: $highlight-perpendicular

  .clue-num
    display: inline-block
    margin-right: 5px
    font-style: bold
    text-align: right
    width: 15px

#current-clue
  .dir-number
    font-weight: 700
    display: inline-block
    width: 3.5em
    padding-right: 0em
  .text
    font-size: 0.9em

#players
  height: 65px

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: inline-block

      &:not(:last-of-type)
        margin-right: 0.5em

      .member
        border-bottom: 3px solid transparent

#chat
  background-color: #FAFAFA
  height: 360px
  overflow-y: scroll
  padding: 10px

  p
    font-size: 0.9em
    margin: 0
    word-wrap: break-word

    .username
      margin-right: 3px

#crossword-container
  margin: 0px 10px 0

.timer
  text-align: right

  .deciseconds
    color: #aaa

svg
  shape-rendering: geometricPrecision

ul.puzzle-list
  height: 400px
  overflow: scroll

#key-bindings table
  table-layout: fixed
  border-radius: 4px

  th
    text-align: left
  .c1
    width: 11em
  .c3
    width: 37em
