#background {
  stroke: none;
  fill: #62cb62;
  opacity: 0; }
  #background.green {
    opacity: 0.2; }

#black-squares {
  fill: #333333; }

#gridlines {
  stroke: #dddddd;
  stroke-width: 1px; }

#numbers text, #letters text {
  dominant-baseline: central;
  font-family: "Source Sans"; }

#numbers {
  font-size: 11px;
  font-weight: 300;
  color: #666666;
  text-anchor: start; }

#letters {
  font-size: 24px;
  font-weight: 600;
  text-anchor: middle; }

.highlight-square, .highlight-across, .highlight-down {
  fill: none; }

.highlight-square {
  stroke: #3d68b8; }

.highlight-parallel {
  stroke: rgba(61, 104, 184, 0.55); }

.highlight-perpendicular {
  stroke: rgba(61, 104, 184, 0.15); }

#their-cursors {
  fill: none;
  opacity: 0.7; }

#filled-squares {
  stroke: none;
  opacity: 0.4; }
