doctype html
html
  head
    script(src='/socket.io/socket.io.js')
    script(src='/static/js/vendor/vue.js')
    script(src='/static/js/vendor/jquery.js')
    script(src='/static/js/vendor/keymaster.min.js')
    script(src='/static/js/vendor/foundation.min.js')

    script(src='/static/js/all.js')

    link(rel='stylesheet', type='text/css', href='/static/css/vendor/foundation.css')

    link(rel='stylesheet', type='text/css', href='/static/css/room.css')
    link(rel='stylesheet', type='text/css', href='/static/css/svg.css')

    title Crosswords
  body
    #content
      nav.top-bar
        ul.title-area
          li.name
            h1
              a(href='#') Crosswords
        section.top-bar-section
          ul.left
            li.divider
            li: a#browse_puzzles_a.reveal-link(href='#', data-reveal-id='browse_puzzles_modal') Browse Puzzles
            //- li: a(href='#') Room Options
            //- li: a(href='#') Help
            //- li: a(href='#') Constructor

      main.row.game-area
        //- Left
        section.large-3.columns
          h5.puzzle-title NY Times, Monday, Jun 3
          h5#timer 0:00


          h6 Players
          #players(v-component="members-box", v-with="users: users")


          h6 Chat
          #chat_box
            #chat
              div(v-repeat="message : messages")
                p(v-if="!message.isServer")
                  span.username
                    b {{ message.user }}:
                  {{ message.text }}
                p(v-if="message.isServer")
                  i {{ message.text }}
            input#chat_input(type="text", v-model="text", v-on="keyup:onEnter | key enter", placeholder="Chat here.")

        //- Middle
        section.large-6.columns.crossword-column
          .row
            .small-10.columns
              h5
                p#current-clue
                  span.dir-number {{ currentClueDirection | dir-symbol }} {{ currentClueNumber }}
                  span.text {{ currentClueText }}
            .small-2.columns.timer

            #crossword-container
              svg#crossword(style="overflow: hidden; position: relative;")
                //- Back
                g#black-squares
                g#filled-squares
                g#cursor
                g#their-cursors
                g#numbers
                g#letters
                g#gridlines
                g#background
                //- Front

        //- Right
        section.large-3.columns.clue-area
          h5 Across
          ul.clue-list(v-component="clue-list", v-with="str: 'across', clues: clues.across, current: currentClue")
          h5 Down
          ul.clue-list(v-component="clue-list", v-with="str: 'down', clues: clues.down, current: currentClue")

      #key-bindings-dialog.reveal-modal
        h3 Keyboard shortcuts
        #key-bindings
        a.close-reveal-modal(onclick='this.parentNode.close()') ×

      #browse_puzzles_modal.reveal-modal
        h3 Browse Puzzles (# puzzles)
        //- form
        //-   button Upload Puzzle
        //-   input(type="file")
        ul.puzzle-list
        a.close-reveal-modal &#215;

    script(type='x/template', id='clue-li').
      <li class="li-clue {{ (num === current.clueNumber[str]) ? ((current.direction === str) ? 'active' : 'inactive'): '' }}"
           v-repeat="clues" value="{{ num }}" v-on="click: onClick(str, num)"><div class="clue-num"><b>{{ num }}</b></div> {{ text }}</li>

    script(type='x/template', id='members-box').
      <ul><li v-repeat="users">
          <span class="member" style="border-color: {{ color }}">{{ username }}</span>
          </li></ul>
