html
  head
    script(src='http://localhost:5558/socket.io/socket.io.js')
    script(src='/static/js/vendor/jquery.js')
    script(src='/static/js/vendor/raphael.min.js')
    script(src='/static/js/vendor/keymaster.min.js')
    script(src='/static/js/vendor/foundation.min.js')

    script(src='/static/js/all.js')

    link(rel='stylesheet', type='text/css', href='/static/css/vendor/foundation.css')
    link(rel='stylesheet', type='text/css', href='/static/css/room.css')
    //- script(src='/static/css/room.css')
    title Crosswords
  body
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href='#') Crosswords
      section.top-bar-section
        ul.left
          li.divider
          li
            a#browse_puzzles_a.reveal-link(href='#', data-reveal-id='browse_puzzles_modal')
              | Browse Puzzles
          //- li.divider
          li
            a(href='#') Room Options
          //- li.divider
          li
            a(a href='#') Help
          li
            a(a href='#') Constructor

    div.row.game-area
      div.large-3.columns
        h6.puzzle-title NY Times, Monday, Jun 3
        #members_box
          p martin, jong
        h6 Chat
        #chat_box
        input#chat_input(type="text")
      div.large-6.columns.crossword-column
        div.row
          div.small-10.columns
            h5
              span#puzzle_title 1A: current clue
          div.small-2.columns.timer
            h5#timer 0:00
          div#crossword_canvas

      div.large-3.columns.clue-area
        h5 Across
        ol#A_clues.clue-list
        h5 Down
        ol#D_clues.clue-list

        div#score_box
          | Graph could go here


    div#browse_puzzles_modal.reveal-modal
      h3 Browse Puzzles (# puzzles)
      ul.puzzle-list
      a.close-reveal-modal &#215;


