<html>
<head>

<script src="/static/js/raphael-min.js" type="text/javascript"></script>
<script src="/static/js/vendor/jquery.js" type="text/javascript"></script>
<script src="/static/js/foundation.min.js" type="text/javascript"></script>
<script src="/static/js/foundation/foundation.forms.js" type="text/javascript"></script>

<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/keymaster.min.js"></script>
<script src="/static/js/jquery.scrollTo.min.js" type="text/javascript"></script>



<link rel="stylesheet" href="/static/css/foundation.css">

<link rel="stylesheet" href="/static/css/room.css">

<title>Crosswords - Room {{ id }}</title>
</head>
<body>

<nav class='top-bar'>
	<ul class="title-area">
		<li class="name">
			<h1><a href='#'>Crosswords with Friends, Buddies, Pals, and Guys</a></h1> 
		</li>
	</ul>
	<section class="top-bar-section">
	  <ul class="left">
      <li class="divider"></li>
      <li><a href="#" data-reveal-id="browse_modal">Browse Puzzles</a></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Actions</a>

        <ul class="dropdown">
        	<li><a href="#">Coming Soon</a> </li>
         {#  <li><a href="#">Check all squares</a></li>
          <li><a href="#">Regular Mode</a></li>
          <li class="divider"></li> #}
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="#" data-reveal-id="help_modal">Help</a></li>
    </ul>
</section>

</nav>

<div class="row game-area">
	<div class="large-3 columns">
		<h6> Room Members </h6>
		<div id='members_box'></div>
		<h6> Chat </h6>
		<div id='chat_box'></div>

		<input type="text" id='chat_input'/>
	</div>
	<div class="large-6 crossword-column columns">
		<h5> <span id="puzzle_title"></span> </h5>
		<p id="current_clue"> Current clue </p>
		<div id="crossword_canvas"></div>
	</div>
	

	<div class="large-3 columns clue-area">
		<h5>Across</h5>
		<ul id='A_clues' class='clue-list'>
		</ul>

		<h5>Down</h5>
		<ul id='D_clues' class='clue-list'>
		</ul>
		<div id="room_options">
			<h6> Room Options </h6>
			<form class="custom">
			<div class="switch">
  <input id="x" name="switch-x" type="radio" disabled>
  <label for="x" onclick="">Regular mode</label>

  <input id="x1" name="switch-x" type="radio" checked>
  <label for="x1" onclick="">Master mode</label>

  <span></span>
</div>
			<label for="checkbox1">
			    <input type="checkbox" id="checkbox1" style="display: none;" disabled>
			    <span class="custom checkbox" DISABLED></span> Competitive mode
		  	</label>
		  	<label for="checkbox1">
			    <input type="checkbox" disabled id="checkbox1" style="display: none;">
			    <span class="custom checkbox" DISABLED></span>
			    Diagramless mode
		  	</label>
		</form>
		</div>
	</div>
</div>

<div id="browse_modal" class="reveal-modal medium">
  <h4>Browse Puzzles</h4>
  <p>Puzzle database coming soon!</p>
  <h5> Upload a Puzzle (.puz)</h5>
  <a class="close-reveal-modal">&#215;</a>
  <input id="fileupload" type="file" name="puzzle" data-url="/uploads/{{room.id}}" multiple>
</div>

<div id="help_modal" class="reveal-modal medium">
  <h4>Help</h4>
  <p>If you're looking for .puz files, check out <a href="http://www.brendanemmettquigley.com/">Brendan Emmett Quigley's site</a>.</p>
  <p>The grid will turn green when the puzzle is complete.</p>
</div>

<script src="/static/js/room.js" type="text/javascript"></script>

<script>
  $(document).foundation();
</script>
</body>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33953736-1']);
  _gaq.push(['_setDomainName', 'mcamac.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
