<script src="/static/js/vendor/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/vendor/rickshaw.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="/static/css/vendor/rickshaw.min.css">

<style>
.detail_swatch { display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
</style>
<script>
window.d3data = [];
function start_d3() {
    var start = window.client_start_time,
        time_delta = window.time_delta,
//        fake_start = new Date(2010, 0, 1, 0, 0, 0);
        fake_start = start;
    window.d3data.push({ x: fake_start / 1e3, y: 0 });

    window.graph = new Rickshaw.Graph({
        element: document.querySelector('.progress-plot'),
        width: 960,
        height: 120,
        renderer: 'area',
        interpolation: 'linear',
        stroke: true,
        series: [
            {
                data: window.d3data,
                color: 'lightblue'
            }
        ]
    });
    window.graph.renderer.unstack = true;

    var axes = new Rickshaw.Graph.Axis.Time( { graph: graph } );
    var hoverdetail = new Rickshaw.Graph.HoverDetail({
        graph: graph,
        xFormatter: function(d) { var D = new Date(d * 1e3); return D.getMinutes() + ':' + D.getSeconds(); },
        formatter: function(series, x, y) {
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + series.name + ": " + parseInt(y);
            return content;
        }
    });
    //graph.series.addData(window.d3data);
    graph.render();
}

function start_d3_() {
    return;
    var start = window.client_start_time,
        time_delta = window.time_delta,
        fake_start = new Date(2010, 0, 1, 0, 0, 0);

    var margin = { top: 6, right: 0, bottom: 20, left: 50 },
        width = 960 - margin.right,
        height = 120 - margin.top - margin.bottom;

    var x = d3.time.scale()
        .domain([fake_start, fake_start])
        .range([0, width]);

    var y = d3.scale.linear()
        .domain([0, 200])
        .range([height, 0]);

    var line = d3.svg.area()
        .interpolate("basis")
        .x(function (d, i) { return x(+fake_start + +d.server_time + time_delta - start); })
        .y1(function (d, i) { return y(d.correct); })
        .y0(height);

    var svg = d3.select(".progress-plot")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .style("margin-left", margin.left + "px")
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("defs")
        .append("clipPath")
        .attr("id", "clip")
        .append("rect")
        .attr("width", width)
        .attr("height", height);

    var xaxis = svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(x.axis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            //.tickSubdivide(5)
            .tickFormat(function (d) {
                return d3.time.format("%-M:%S")(d);
            }));

    var yaxis = svg.append("g")
        .attr("class", "y axis")
        .call(d3.svg.axis()
            .scale(y)
            .ticks(5)
            .orient("left")
            //.tickFormat(function (d) { return d3.format("%")(d); })
        );

    var path = svg.append("g")
        .attr("clip-path", "url(#clip)")
        .append("path")
        .data([window.d3data])
        .attr("class", "line")
        .attr("d", line);

    tick(path, line, window.d3data, x);

    function tick(path, line, data, x) {
        x.domain([fake_start, new Date(+fake_start + +new Date - +start)]);

        xaxis.transition()
        //.duration(duration)
            .ease("spline")
            .call(x.axis);
        // redraw the line, and then slide it to the left
        path
            .attr("d", line)
            .attr("transform", null)
            .transition()
            //.duration(500)
            .ease("linear")
            .each("end", function () {
                tick(path, line, window.d3data, x);
            });

    }
}
</script>
